<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <h3>
      <a href="{{ url_for('show_all') }}">All Database Results</a
      >
    </h3>

    <hr />
    {%- for message in get_flashed_messages() %} {{ message }} {%- endfor %}

    <h3>Users (<a href="{{ url_for('show_all') }}">Add user </a>)</h3>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Location</th>
          <th>Date Created</th>
        </tr>
      </thead>

      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.location }}</td>
          <td>{{ user.date_created }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
