<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <h3>
      <a href="{{ url_for('show_all') }}">All Database Results</a
      >
    </h3>

    <hr />
    {%- for message in get_flashed_messages() %} {{ message }} {%- endfor %}

    <h3>Persons (<a href="{{ url_for('show_all') }}">Add Person </a>)</h3>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>User</th>
          <th>Email</th>
        </tr>
      </thead>

      <tbody>
        {% for person in persons %}
        <tr>
          <td>{{ person.id }}</td>
          <td>{{ person.user }}</td>
          <td>{{ person.email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
