{% extends 'layout.html' %}

{% block head %}
<title>Heading</title>
{% endblock %}

{% block body %}
<div class="content">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}



    <h1 style="text-align: center">Container List</h1>
    <!-- {% if images|length < 1 %}
    <h4 style="text-align: center">There are no containers</h4>
    <a href="/crucible/add">Add Container</a>
    {% else %} -->
    <nav class="navbar navbar-expand-lg">      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('crucible.crucibleIndex')}}">Database Containers </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('crucible.crucibleIndexAll')}}">Docker Containers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('crucible.crucibleImagesAll')}}">Images</a>
            </li>
        </div>
      </nav>



    <table style="margin: auto;" class="table table-striped">
        <tr>
            <th>Image ID</th>
            <th>Labels</th>
        </tr>
        {% for x in images %}
            <tr>
                <td>{{ x.id }}</td>
                <td>{{ x.tags }}</td>
                
            </tr>
        {% endfor %}
    </table>
    <a type="button" class="btn btn-primary" href="{{ url_for('crucible.crucibleAdd') }}">Add a new Image</a>
    {% endif %}


{% endblock %}

